body{
    background-color:rgb(34, 7, 43);
    background-image: url("../Images/strikebg.webp");
    background-size: cover;
    background-repeat: repeat; 
    background-blend-mode:multiply;
}


.home-button {
        
    display: block; 
    margin: 20px; 
    margin-left: -30px;
    margin-top: 20px;
}
#home{
height: 150px;
width: auto;
}
#top{
width: 100px;
height:auto;
}

#empty {
width: 2500px;
height: auto;
}

#top2{
width: 1250px;
height:auto;
}


.beside{
float: left;
width: 10%;
}

.menu-area {
    position:fixed;
    background-color: rgb(0, 0, 0);
    top:0;
    left:0;
    width:100%;
    height: 30px;
    opacity: 90%;
    transition:2s;
}

.active {
    height: 100vh;
}
@font-face {
    font-family: Norse;
    src: url(../fonts2/Norse.Botf);
}

#ch {
    text-align: right;
    margin-right: 30px;
    margin-top: 4px ;
    color: antiquewhite;
    font-family: "edding-780", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;

}

.scroll-button {
    display: inline-block;
    padding: 30px 40px;
    background-color: #640c51;
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    margin: 20px;
    margin-left: 400px;
    font-family: Norse;
    font-size: 20px ;
}

.scroll-button:hover {
    background-color: #292432;
}

.scroll-button2 {
    display: inline-block;
    padding: 30px 40px;
    background-color:#640c51;
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    margin: 20px;
    margin-top: -99px;
    margin-left: 780px;
    font-family: Norse;
    font-size: 20px ;
}

.scroll-button2:hover {
    background-color: #292432;
}

header {
    text-align: center;
    font-size: 100px;
    color:  rgb(196, 196, 196);
    margin-top: 30px;
    font-family: Norse;
}


#image1 {
    position: absolute;
    margin-left: 280px;
    width: 100px; 
    height: auto; 
    margin-top: -110px;
}
#image2 {
    position: absolute;
    margin-left: 875px;    
    transform: scaleX(-1);
    transform: scaleY(-1);
    width: 100px;
    height: auto;
    margin-top: -110;
    -webkit-transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    -o-transform: scaleX(-1);
}
#p-1 { 
    color:  rgb(104, 104, 104);
    text-align: center;
    font-size: 30px;
    margin-top: 100px;
    margin-left: 80px;
    margin-right: 80px;
}


#h1{
    font-size: 60px;
    margin-left: 50px;
    color:  rgb(125, 26, 119);
    font-family: Norse;

}

#glist {
    margin-left: 50px;
    font-size: 25px;
    line-height: 15px;
    color:  rgb(196, 196, 196);
    font-family: "edding-780", sans-serif;
    font-weight: 70;
    font-style: normal;
}

#Skrillimg {
    width: 850px;
    height: auto;
    margin-left: -50px;
    margin-top: -200px;
}

#NightFuryimg {
    width: 900px;
    height: auto;
    margin-left: -100px;
    margin-top: 90px;
}

#h2{
    font-size: 20;
    font-weight: bold;
    margin-left: 0px;
    color:  rgb(196, 196, 196);
    font-family: Norse;

}

.side-by-side {
    float: left;
    width: 30%;

#stats1{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
    color: rgb(157, 155, 160);
    font-family: Norse;

}

#list3{
   margin-left:-35px ;
   text-align: center;
    list-style: none;
    color: rgb(157, 155, 160);  
    font-family: "edding-780", sans-serif;
    font-weight: 70;
    font-style: normal;
    font-size: 20px;  
}}

#div2{
    background-color: rgb(53, 40, 85);
    width: 200px;
}

@keyframes fadein {
    from {opacity: 0;}
    to {opacity: 100;}

}

.appear {
    opacity: 0;
    animation-name: fadein;
    animation-duration: 1s;
    animation-delay: 1.5s;
    animation-fill-mode: forwards;
    position: fixed;
    width: 90vw;
    height: 90vh;
    text-align: center;
    top: 200px;
    justify-content: center;
    color: rgb(189, 183, 189);
    text-align: center;
    margin-top: 50px;
    margin-left: -40px;
    margin-right: 80px;
    font-size: 45px;
    font-family: Norse reg;
    font-family: "edding-780", sans-serif;
    font-weight: 400;
    font-style: normal;
}



.disappear {
    opacity: 0;
}


#block2 {
    position: absolute;
    top: 370px;
    left: 30px;
    height: 600px;
    width: 1380px;
    background-color: rgb(49, 8, 37);
    z-index: -10;
    opacity: 70%;
    border-radius: 30px;
}

#block1 {
    position: absolute;
    top: 1070px;
    left: 30px;
    height: 660px;
    width: 1380px;
    background-color:rgb(49, 8, 37);
    z-index: -10;
    opacity: 80%;
    border-radius: 30px;
}
